<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express HTML</title>
    <script src="https://kit.fontawesome.com/70f5cfcad7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="about">about</a></li>
            <li><a href="/music">music</a></li>
            <li><a href="contact">contact</a></li>
        </ul>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-spotify"></i></a>
        <a href=""><i class="fa-brands fa-apple"></i></a>
        <a href=""><i class="fa-brands fa-amazon"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>

    </nav>

</header>

<main>
    <h5>Direct links</h5>
    <nav>
    <ul>
        <li><a href="#album"></a>Album</li>
        <li><a href="#organic"></a>Video:Organic Love</li>
        <li><a href="#street"></a>Video: Street Ligth</li>
    </ul>
    </nav>
    <section> <!-- caja para los albumes-->
        <article id="album"><!-- caja albumes -->
            <h3>album <br> twist in my reality</h3>
            <img src="/images/emilia-play-list.png" alt="foto de pies" width="640" >
        
        <ol>
            <li><i class="fa fa-play"></i> Organic Love</li>
            <li><i class="fa fa-play"></i>Twist In My Reality</li>
            <li><i class="fa fa-play"></i>Street Light</li>
            <li><i class="fa fa-play"></i>Love Dont Live Here Anymore (Cover)</li>
        </ol>
        <a href="#">Go Top</a>
        </article>

    </section>
    <section><!--caja para los videos-->
        
        <article id="organic"><!--caja para video-->
            <h3>video <br> organic love</h3>
            <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART</p>
                <p>Wix Films LTD</p>
            </div>
            <a href="#">Go Top</a>

        </article>

        <article id="street"><!--caja para video--> 
            <h3>video <br> street light</h3>
            <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART</p>
                <p>Wix Films LTD</p>
            </div>
            <a href="#">Go Top</a>

        </article>


    </section>


</main>


</body>

</html>